<!doctype html>
<html lang="zh-CN">
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="author" content="Egg Targaryen" />
    <meta
      name="keywords"
      content="Egg Targaryen,dzxrly,Quasar,Vue,frontend,open source,game mods,tools,blog"
    />
    <meta name="robots" content="index,follow" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="initial-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <meta name="theme-color" content="#006a8e" />
    <meta property="og:site_name" content="Egg Targaryen's Dock" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Egg Targaryen's Dock" />
    <meta property="og:description" content="<%= productDescription %>" />
    <meta property="og:url" content="https://eggtargaryen.com/" />
    <meta property="og:image" content="https://eggtargaryen.com/avatar.png" />
    <meta name="twitter:card" content="summary" />
    <link rel="canonical" href="https://eggtargaryen.com/" />

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
